<!--Menu navigation -->
<nav aria-label="Menú principal">
  <ul>
      <li tabindex="0"><a title="Enlace que dirije a la página de inicio del sitio." href="{{ site.baseurl }}/"><em class="fa fa-home"></em> Inicio</a></li>
      <li><a title="Enlace que dirije a las buenas prácticas con HTML5." href="{{ site.baseurl }}/html5/introduccion"><abbr title="Lenguaje de Marcado de Hipertexto versión 5"><em class="fa fa-html5"></em> HTML5</abbr></a></li>
      <li><a title="Enlace que dirije a las buenas prácticas con hojas de estilo." href="{{ site.baseurl }}/css3/introduccion"><abbr title="Hojas de estilo en Cascada"><em class="fa fa-css3"></em> CSS</abbr></a></li>
      <li><a title="Enlace que dirije al formulario para contactarnos y enviarnos alguna sugerencia a su criterio." href="{{ site.baseurl }}/contacto"><em class="fa fa-envelope"></em> Escríbeme</a></li>
      <li><a title="Enlace que dirije al pie de página donde está el mapa del sitio." href="#footer"><em class="fa fa-sitemap"></em> Mapa del sitio</a></li>
      <li class="hidden-content"><span>(Fin de opciones del menú)</span></li>
  </ul>
</nav>
